.horizontal-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}

.how-to-section {
  background-color: #fff9f0; /* 따뜻한 배경색 */
  padding: 3rem 0;
}

.input-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.form-label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label-text {
  color: #111418;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.textarea {
  flex: 1;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid #dbe0e6;
  background-color: white;
  min-height: 9rem;
  padding: 15px;
  font-size: 1rem;
  line-height: normal;
  color: #111418;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*gap: 0.1rem;*/
  padding: 20px;
  /*flex-direction: column;*/
}

.select {
  width: 150px;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dbe0e6;
  background-color: white;
  padding: 15px;
  font-size: 1rem;
  line-height: normal;
}

.btn-generate {
  min-width: 84px;
  height: 3.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: #c46f2d;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}

.page-title {
  color: #111418; /* 현재 색상 */
  letter-spacing: -0.025em;
  font-size: 32px; /* 현재 크기 */
  font-weight: 900; /* 현재 굵기 */
  line-height: 1.2;
}


.how-to-title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #923522; /* 제목 색상 */
  margin-bottom: 2rem;
}

.how-to-steps-container {
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
}

.how-to-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 250px;
}

.how-to-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e6d4; /* 아이콘 배경색 */
  border-radius: 50%;
  margin-bottom: 1rem;
}

.how-to-icon svg {
  width: 32px;
  height: 32px;
  color: #923522; /* 아이콘 색상 */
}

.how-to-step-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #111418;
}

.how-to-step-description {
  font-size: 1rem;
  color: #8a7260;
  line-height: 1.5;
}